# Exercise

Apply the functions you've learned in this lesson to the following dataset.

## Load dataset

In [11]:
import pandas as pd

df_base = pd.read_excel('../../../data/topics/sociology/tips.xlsx')
df_base

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

## Data visualization