# Exercise

Replicate the steps from notebook [A_Blank.ipynb](A_Blank.ipynb).

Download at least 3 different datasets from Yahoo Finance, where you need to find the ticker symbol of the company you want to download the data from.

Here it's the first one: https://finance.yahoo.com/quote/NVDA/

In [3]:
import yfinance as yf

df_nvda = yf.download('NVDA')
df_nvda

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-01-22,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000
1999-01-25,0.044271,0.045833,0.041016,0.045313,0.041562,510480000
...,...,...,...,...,...,...
2024-06-13,129.389999,129.800003,127.160004,129.610001,129.610001,260704500
2024-06-14,129.960007,132.839996,128.320007,131.880005,131.880005,306999500