# Create new columns in DataFrame

## Load dataset

In [1]:
import pandas as pd

path = '../../../data/topics/energy/consumption/2023.parquet'
df = pd.read_parquet(path)
df

                     price   energy
datetime
2023-01-01 00:00:00   0.00  14039.8
2023-01-01 01:00:00   0.00  13581.2
...                    ...      ...
2023-12-31 22:00:00  74.74  13223.4
2023-12-31 23:00:00  71.96  12659.1

[8760 rows x 2 columns]

## Cost

### Calculate from columns

In [2]:
new_column = df['price'] * df['energy']

In [3]:
new_column

datetime
2023-01-01 00:00:00         0.000
2023-01-01 01:00:00         0.000
                          ...
2023-12-31 22:00:00    988316.916
2023-12-31 23:00:00    910948.836
Length: 8760, dtype: float64

### Add new column to DataFrame

In [4]:
df['cost'] = new_column

In [5]:
df

                     price   energy        cost
datetime
2023-01-01 00:00:00   0.00  14039.8       0.000
2023-01-01 01:00:00   0.00  13581.2       0.000
...                    ...      ...         ...
2023-12-31 22:00:00  74.74  13223.4  988316.916
2023-12-31 23:00:00  71.96  12659.1  910948.836

[8760 rows x 3 columns]

## Temporal columns

In [6]:
df['year'] = df.index.year
df['month'] = df.index.month
df['day'] = df.index.day
df['hour'] = df.index.hour
df['dayofweek'] = df.index.dayofweek
df

,price,energy,cost,year,month,day,hour,dayofweek
datetime,,,,,,,,
2023-01-01 00:00:00,0.00,14039.8,0.000,2023,1,1,0,6
2023-01-01 01:00:00,0.00,13581.2,0.000,2023,1,1,1,6
...,...,...,...,...,...,...,...,...
2023-12-31 22:00:00,74.74,13223.4,988316.916,2023,12,31,22,6
2023-12-31 23:00:00,71.96,12659.1,910948.836,2023,12,31,23,6

## Export to Excel

In [7]:
path = '../data/energy_cost_2023.xlsx'
df.to_excel(path)