# Exercise

Replicate the steps from notebook [A_Blank.ipynb](A_Blank.ipynb) on the following dataset.

In [3]:
import pandas as pd

path = '../../../data/topics/energy/consumption/2022.parquet'
df = pd.read_parquet(path)
df

                      price   energy
datetime
2022-01-01 00:00:00  145.86  14963.8
2022-01-01 01:00:00  114.90  14967.8
...                     ...      ...
2022-12-31 22:00:00    1.88  14964.2
2022-12-31 23:00:00    0.10  14875.1

[8760 rows x 2 columns]